//----------------[ Includes ]
//--------[ Compass ]
@import 'compass';
@import 'compass/css3';

//--------[ Custom ]
@import 'base';
@import 'fonts';
@import 'style';

//----------------[ Mobile ]
#post-form {
	label {
		display: none;
	}

	input, textarea {
		display: block;
		margin: 0 0 1em;
		width: 100%;
	}
	
	textarea {
		border: $border;
		border-radius: $radius;
		font-size: .75em;
		padding: .5em;
	}
	
	#post-form-link {
		display: none;
	}

	#post-form-submit {
		float: right;
	}
}

#post-rules {
}

.post {
	.post-head {
		input[type=checkbox] {
			height: auto;
		}

		.post-subject, .post-user {
			font-weight: bold;
		}

		.post-user {
			color: $dark-gray;
		}

		.post-data {}

		.post-number {}

		.post-reply {}	
	}

	.post-content {
		padding: 0 0 0 1em;
	}

	.reply {
		background: $gray;
	    margin: 0 0 1em 1em;
	    padding: 1em;
	}

	.reply:last-child {
		margin-bottom: 0;
	}
}

.pages {
	float: left;
}

.userdelete {
	float: right;
	line-height: 100%;
	input {
		margin: 0;
		vertical-align: middle;
	}
}

//----------------[ Desktop ]
@media screen and (min-width: 801px) {
#post-form {
	float: left;
	padding: 0 1em 0 0;
	width: 50%;
}

#post-rules {
	float: right;
	width: 50%;
}
}